@import "../../../scss/mixin.scss";

.checklist-items-container-section {
    padding-bottom: 8px;
    padding-top: 8px;
}

.checklist-items-container-title {
    padding-bottom: 8px;
}

.add-options-cl-label {
    font-size: 14px;
    @include resolve-dir(padding-left, 20px);
}

.add-options-cl {
    cursor: pointer;
    @include resolve-dir(margin-left, 4px);
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
}
