@import "./variables.scss";
@import "./mixin.scss";

.body-container::before {
    content: "";
    position: fixed;
    z-index: 1 !important;
    top: 0;
    @include resolve-dir(left, $parent-padding-left);
    @include resolve-dir(right, $parent-padding-right);
    margin-top: $parent-margin-top;
    border-top: 1px outset;
    .client-mobile & {
        border-top: 0px;
    }
}

.body-container {
    @include main-margin();
    position: fixed;
    display: block !important;
    width: 100%;
    top: 0;
    bottom: $footer-height;
    overflow-x: hidden;
    overflow-y: overlay;
    @include theme-based-bg;
}

.display-flex {
    display: flex !important;
}

.no-mobile-footer {
    .client-mobile & {
        bottom: 0px;
    }
}

.footer-layout::before {
    content: "";
    position: absolute;
    z-index: 1 !important;
    top: 0;
    @include resolve-dir(left, $parent-padding-left);
    @include resolve-dir(right, $parent-padding-right);
    border-top: 1px outset;
}

.footer-layout {
    position: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    @include resolve-dir(padding-left, $parent-padding-left);
    @include resolve-dir(padding-right, $parent-padding-right);
    width: 100%;
    height: $footer-height;
    align-items: center;
    flex-direction: row;
    display: flex;
    @include resolve-dir(left, 0px);
    bottom: 0px;
    @include theme-based-bg;
}

label.invalid {
    color: $error-red;
}

.pointer-cursor {
    cursor: pointer;
}

.error {
    color: $error-red;
}

input {
    line-height: normal !important;
    .client-mobile & {
        font-size: 16px !important;
    }
}

:focus {
    .client-mobile & {
        outline: none;
    }
    .desktop & {
        outline-color: $desktop-focus-outline-color;
    }
}

* {
    .client-mobile & {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

* {
    .client-ios & {
        -webkit-overflow-scrolling: touch;
    }
}

::placeholder {
    color: $gray-color !important;
    .theme-default & {
        color: $default-theme-gray-color !important;
    }
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $gray-color !important;
    .theme-default & {
        color: $default-theme-gray-color !important;
    }
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $gray-color !important;
    .theme-default & {
        color: $default-theme-gray-color !important;
    }
}

::-webkit-input-placeholder {
    color: $gray-color !important;
    .theme-default & {
        color: $default-theme-gray-color !important;
    }
}

.winner {
    background-color: #237b4b;
}

.loser {
    background-color: #ffc312;
}

.dialog-base {
    border: 1px solid rgb(225, 223, 221);
    .theme-dark & {
        border: 1px solid rgb(72, 70, 68);
    }
    .client-mobile & {
        width: fit-content !important;
        margin: 20px !important;
    }
}

.dialog-overlay {
    .desktop-web & {
        background-color: transparent !important;
    }
}

.break-word {
    word-break: break-word;
}

.setting-dialog-container {
    position: inherit;
}

.triple-dot-menu > li {
    .theme-contrast & {
        color: unset !important;
    }
}

.zero-padding {
    padding: 0px !important;
}

.no-flex-shrink {
    flex-shrink: 0;
}
